<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Alertas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header>
    <h1>Servicio de Alertas Sanitarias</h1>
</header>

<nav>
<a href="/"><b>Inicio</a>
<a href="/products">Lista de Productos</a>
<a href="/cred">Créditos</b></a>
     <img width="125px"  src="/images/etsit.png" 
                     alt="ETSIT"> 
</nav>

<section>
    <div>
        <%- body %>
    </div>
</section>

<footer class="main">
<b>TFG - Luis Llorente Tovar</b>
    </footer>
 <footer1 class="main">
 <img width="80px"  src="/images/alertas.png" 
                     alt="Alertas"> 
 <img width="120px"  src="/images/ethereum.png" 
                     alt="Ethereum"> 
 <img width="100px"  src="/images/nodejs.png" 
                     alt="Nodejs"> 
 <img width="60px"  src="/images/iosLogo.png" 
                     alt="iOS"> 
 <img width="60px"  src="/images/logo10.png" 
                     alt="10">
 
 
 </footer1>
</body>
</html>